

<!-- Navbar Start -->
    <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5"><span class="text-primary">DANG</span>THUC</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
               <a href="home/about" class="nav-item nav-link active">About</a>
                <a href="home/contact" class="nav-item nav-link">Contact</a>
                <a href="#help" class="nav-item nav-link">Help</a>
                <%= link_to "Home",root_path,class:"nav-item nav-link"%>
               
            </div>
            <%= link_to "Sign up",users_new_path,class:"btn btn-outline-primary d-none d-lg-block"%>
            </div>
    </nav>
    <!-- Navbar End -->

